
            <form #f="ngForm" >
              <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="employees.name">
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" name="name" id="name" #name="ngModel" [(ngModel)]="employees.name"
                 placeholder="Full Name" required>
              </div>
              <div class="form-group">
                <label for="position">Position</label>
                <input type="text" class="form-control" name="position" id="position" #name="ngModel" [(ngModel)]="employees.position"
                 placeholder="Position">
              </div>
            
              <button  mat-raised-button  (click)="EditEmployee(employees)">Save Employee</button>
            </form>